{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="{% static 'gable.ico' %}" type="image/x-icon">
  </head>
  <body>
    <div class="topnav">
        <a href="/home/">Home</a>
        <a href="/listings/">Listings</a>
        <a href="/contact/">Contact</a>
        <a href="/about/">About</a>
        <a href="/signup/">Register</a>
        <a class="active" href="/login/">Login</a>
      </div>
    <main>
        <div class ="w3-container">
        <h1>First Login.</h1>
        <form class="site-form" action="/login/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Signup">
        </form>
        </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>