body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

/* Add a black background color to the top navigation */
.topnav {
  background-color: navy;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: white;
}

.box {
  width: 20%;
  border: 15px solid navy;
  padding: 50px;
  margin: 20px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  text-shadow: 2px 2px black;
}

.search-container {
  top:52%;
}

.search-container input[type=text] {
  padding: 24px;
  font-size: 24px;
  border: none;
}

.search-container button {
  
  padding: 28px;
  margin-right: 30px;
  background: #ddd;
  font-size: 17px;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

