{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="{% static 'gable.ico' %}" type="image/x-icon">
  </head>
  <body>
    <div class="topnav">
        <a href="/home/">Home</a>
        <a href="/listings/">Listings</a>
        <a href="/contact/">Contact</a>
        <a class="active" href="/about/">About</a>
        <a href="/signup/">Register</a>
        <a href="/login/">Login</a>
        <!-- <a href="/booking/">Booking</a> -->
        <form class="logout-link" action="/logout/" method="post">
          {% csrf_token %}
          <button type="submit" style="background-color:navy; color: white; border: none; padding: 14px 16px; font-size: 17px; float: right; cursor: pointer;">Logout</button>
        </form>
        <a href="/profile/" style="float:right;">{{ request.user }}</a>
            {% for profile in profiles %}
              <!-- Need to iterate even if there's only one object in queryset -->
              <img src="/media/{{ profile.picture }}" style="width:2%; float:right; border-radius: 50px; margin-right: 0.5%;"/>
            {% endfor %}
        <a href="/history/">History</a>
      </div>
    <main>
        <div class ="w3-container">
        <h1>Whataboutism.</h1>
        </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>