{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="home.html">Home</a>
      <a href="news.html">News</a>
      <a href="contact.html">Contact</a>
      <a href="about.html">About</a>
    </div>
    <main>
        <div class ="w3-container">
        <h1>Welcome to the home page!</h1>

        <h2>What do I have to offer</h2>

        <h3>1. Financial Benefits</h3>

        <h3>2. Society improves</h3>

        <h4>a. Improving the tax system</h4>

        <h4>b. Providing more refuse dumps</h4>

        <h2>Who am I</h2>

        <h2>Conclusion</h2>  
        </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>