{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listing Detail</title>
    <link rel="stylesheet" href="{% static 'Style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="icon" href="{% static 'gable.ico' %}" type="image/x-icon">
  </head>
  <body>
    <div class="topnav">
        <a href="/home/">Home</a>
        <a class="active" href="/listings/">Listings</a>
        <a href="/contact/">Contact</a>
        <a href="/about/">About</a>
        <a href="/signup/">Register</a>
        <a href="/login/">Login</a>
        <!-- <a href="/booking/">Booking</a> -->
        <form class="logout-link" action="/logout/" method="post">
          {% csrf_token %}
          <button type="submit" style="background-color:navy; color: white; border: none; padding: 14px 16px; font-size: 17px; float: right; cursor: pointer;">Logout</button>
        </form>
        <a href="/profile/" style="float:right;">{{ request.user }}</a>
            {% for profile in profiles %}
              <!-- Need to iterate even if there's only one object in queryset -->
              <img src="/media/{{ profile.picture }}" style="width:2%; float:right; border-radius: 50px; margin-right: 0.5%;"/>
            {% endfor %}
        <a href="/history/">History</a>
      </div>
    <main>
        <div class ="w3-container">
        <h1>{{ listings.title }}</h1>
        <img src="/media/{{ listings.detailedimage }}" style="width:50%;"/>
        <h2>{{ listings.longdescription }}</h2>
        <h2>{{ listings.amenities }}</h2>
        <!-- <h2>{{ listings.xcoordinate }} and {{ listings.ycoordinate }}</h2> -->

        <div id="map" style="height: 600px; width: 600px;"></div>
        <script>
          var x = "{{ listings.xcoordinate }}";
          var y = "{{ listings.ycoordinate }}";
          var map = L.map('map').setView([x, y], 13);
          var marker = L.marker([x, y]).addTo(map);
          marker.bindPopup("<b>{{ listings.title }}</b><br>Villa information.").openPopup();
          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
          }).addTo(map);
        </script>

        </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>

