{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search results</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="{% static 'gable.ico' %}" type="image/x-icon">
  </head>
  <body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/listings/">Listings</a>
        <a href="/contact/">Contact</a>
        <a href="/about/">About</a>
        <a href="/signup/">Register</a>
        <a href="/login/">Login</a>
        <!-- <a href="/booking/">Booking</a> -->
        <form class="logout-link" action="/logout/" method="post">
          {% csrf_token %}
          <button type="submit" style="background-color:navy; color: white; border: none; padding: 14px 16px; font-size: 17px; float: right; cursor: pointer;">Logout</button>
        </form>
        <a href="/profile/" style="float:right;">{{ request.user }}</a>
            {% for profile in profiles %}
              <!-- Need to iterate even if there's only one object in queryset -->
              <img src="/media/{{ profile.picture }}" style="width:2%; float:right; border-radius: 50px; margin-right: 0.5%;"/>
            {% endfor %}
        <a href="/history/">History</a>
      </div>
    <main>
        <div class ="w3-container">
        <h1>Villas searched:</h1>
        <!-- <div class = "box">
        <h1>This is a box</h1>
        </div> 
        <div class = "box">
          <h1>This is a second box</h1>
        </div> -->
        {% if listings.all %}
          <h2>Villas matching name:</h2>
          {% for listing in listings %}
            <div class = "box">
              <h1><a href="/listing/{{ listing.slug }}/{{ listing.id }}">{{ listing.title }}</a></h1>
              <img src="/media/{{ listing.image }}" style="width:100%;"/>
              <p>{{ listing.shortdescription }}</p>
              <p>Price per night ($): {{ listing.pricepernight }}</p>
              <h1><a href="/booking/{{ listing.slug }}/{{ listing.id }}">Book Now</a></h1>
            </div>           
          {% endfor %}
        {% endif %}
        {% if countrysearch.all %}
          <h2>Villas matching country:</h2>
          {% for listing in countrysearch %}
            <div class = "box">
              <h1><a href="/listing/{{ listing.slug }}/{{ listing.id }}">{{ listing.title }}</a></h1>
              <img src="/media/{{ listing.image }}" style="width:100%;"/>
              <p>{{ listing.shortdescription }}</p>
              <p>Price per night ($): {{ listing.pricepernight }}</p>
              <h1><a href="/booking/{{ listing.slug }}/{{ listing.id }}">Book Now</a></h1>
            </div>           
          {% endfor %}
        {% endif %}
        {% if pricesearch.all %}
          <h2>Villas matching price:</h2>
          {% for listing in pricesearch %}
            <div class = "box">
              <h1><a href="/listing/{{ listing.slug }}/{{ listing.id }}">{{ listing.title }}</a></h1>
              <img src="/media/{{ listing.image }}" style="width:100%;"/>
              <p>{{ listing.shortdescription }}</p>
              <p>Price per night ($): {{ listing.pricepernight }}</p>
              <h1><a href="/booking/{{ listing.slug }}/{{ listing.id }}">Book Now</a></h1>
            </div>           
          {% endfor %}
        {% endif %}
        {% if amenitysearch.all %}
          <h2>Villas matching amenity:</h2>
          {% for listing in amenitysearch %}
            <div class = "box">
              <h1><a href="/listing/{{ listing.slug }}/{{ listing.id }}">{{ listing.title }}</a></h1>
              <img src="/media/{{ listing.image }}" style="width:100%;"/>
              <p>{{ listing.shortdescription }}</p>
              <p>Price per night ($): {{ listing.pricepernight }}</p>
              <h1><a href="/booking/{{ listing.slug }}/{{ listing.id }}">Book Now</a></h1>
            </div>           
          {% endfor %}
        {% endif %}
        {% if shortdescriptionsearch.all %}
          <h2>Villas matching short description:</h2>
          {% for listing in shortdescriptionsearch %}
            <div class = "box">
              <h1><a href="/listing/{{ listing.slug }}/{{ listing.id }}">{{ listing.title }}</a></h1>
              <img src="/media/{{ listing.image }}" style="width:100%;"/>
              <p>{{ listing.shortdescription }}</p>
              <p>Price per night ($): {{ listing.pricepernight }}</p>
              <h1><a href="/booking/{{ listing.slug }}/{{ listing.id }}">Book Now</a></h1>
            </div>           
          {% endfor %}
        {% endif %}
        {% if longdescriptionsearch.all %}
          <h2>Villas matching detailed description:</h2>
          {% for listing in longdescriptionsearch %}
            <div class = "box">
              <h1><a href="/listing/{{ listing.slug }}/{{ listing.id }}">{{ listing.title }}</a></h1>
              <img src="/media/{{ listing.image }}" style="width:100%;"/>
              <p>{{ listing.shortdescription }}</p>
              <p>Price per night ($): {{ listing.pricepernight }}</p>
              <h1><a href="/booking/{{ listing.slug }}/{{ listing.id }}">Book Now</a></h1>
            </div>           
          {% endfor %}
        {% endif %}
        </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>